<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript">
    var imp = "Unset"
    var pmr_funct = 0

    function update_sel(selected) {
        document.getElementById('pmr_disp').style.removeProperty('display')
        if (selected === "firebase") {
            document.getElementById('fb_sel').textContent = "Selected"
            document.getElementById('fb_sel').classList.add('btn-warning')
            document.getElementById('fb_sel').classList.remove('btn-light')
            document.getElementById('mongo_sel').textContent = "Select"
            document.getElementById('mongo_sel').classList.remove('btn-warning')
            document.getElementById('mongo_sel').classList.add('btn-light')
            document.getElementById('sql_sel').textContent = "Select"
            document.getElementById('sql_sel').classList.remove('btn-warning')
            document.getElementById('sql_sel').classList.add('btn-light')
            imp = 'firebase'
        } else if (selected === "mongo") {
            document.getElementById('mongo_sel').textContent = "Selected"
            document.getElementById('mongo_sel').classList.add('btn-warning')
            document.getElementById('mongo_sel').classList.remove('btn-light')
            document.getElementById('fb_sel').textContent = "Select"
            document.getElementById('fb_sel').classList.remove('btn-warning')
            document.getElementById('fb_sel').classList.add('btn-light')
            document.getElementById('sql_sel').textContent = "Select"
            document.getElementById('sql_sel').classList.remove('btn-warning')
            document.getElementById('sql_sel').classList.add('btn-light')
            imp = 'mongo'
        } else if (selected === "mysql") {
            document.getElementById('sql_sel').textContent = "Selected"
            document.getElementById('sql_sel').classList.add('btn-warning')
            document.getElementById('sql_sel').classList.remove('btn-light')
            document.getElementById('mongo_sel').textContent = "Select"
            document.getElementById('mongo_sel').classList.remove('btn-warning')
            document.getElementById('mongo_sel').classList.add('btn-light')
            document.getElementById('fb_sel').textContent = "Select"
            document.getElementById('fb_sel').classList.remove('btn-warning')
            document.getElementById('fb_sel').classList.add('btn-light')
            imp = 'mysql'
        }
    }

    function funct_select(sel_index) {
        pmr_funct = sel_index

        document.getElementById('funct_description').innerHTML = 'Function Description'
        
        var jsonCall = $.ajax({
            method: 'POST',
            url: '/pmr_sel',
            dataType: "json",
            data: {'funct': pmr_funct},
            async: false
        });
        response = JSON.parse(jsonCall.responseText)

        document.getElementById('explanation_facility').style.removeProperty('display')

        document.getElementById('funct_overview').innerHTML = response['exp_header']
        document.getElementById('description_text').innerHTML = response['exp_body']
        document.getElementById('query_area').innerHTML = response['query_form']
    }

    function call_funct(values) {
        var jsonCall = $.ajax({
            method: 'POST',
            url: '/pmr_call',
            dataType: "json",
            data: {'imp': imp, 'funct': pmr_funct, 'params': values},
            async: false
        });
        response = JSON.parse(jsonCall.responseText)
        document.getElementById('map_res_area').innerHTML = response['map_res']
        document.getElementById('reduce_res_area').innerHTML = response['final_res']

        document.getElementById('results_area').style.removeProperty('display')
    }

    function get_form_contents() {
        params = document.getElementsByClassName('query_input')
        params = Array.prototype.slice.call(params).map(x => x.value)
        return params.join('\n')
    }
</script>

<div class="container-fluid px-4">
    <div class="row" style="padding-top: 16px">
        <div class="col-xl-3 col-md-6">
            <h1 class="mt-1" styl>PMR</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Select an implementation to begin</li>
            </ol>
        </div>
        <div class="col-xl-3 col-md-6" style="margin: auto 0">
            <div class="card bg-danger text-white mb-4" style="margin: 0">
                <div class="card-body">Firebase</div>
                <div class="card-footer d-flex align-items-center justify-content-between" >
                    <a id="fb_sel" class="btn btn-light" onclick="update_sel('firebase')">Select</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6" style="margin: auto 0">
            <div class="card bg-success text-white mb-4" style="margin: 0">
                <div class="card-body">MongoDB</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a id="mongo_sel" class="btn btn-light" onclick="update_sel('mongo')">Select</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6" style="margin: auto 0">
            <div class="card bg-primary text-white mb-4" style="margin: 0">
                <div class="card-body">MySQL</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a id="sql_sel" class="btn btn-light" onclick="update_sel('mysql')">Select</a>
                </div>
            </div>
        </div>
    </div>
    <!--PMR STUFF-->
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-chart-area me-1"></i>
            <a id="explorer_bar">PMR-Based Search and Analytics</a>   
        </div>
        <div id="pmr_display" class="card-body"> <!--style="font-family: 'Courier New', monospace; display: flex;"-->

            <div class="row" id="pmr_disp" style="display: none">
                <div class="col-xl-6 col-md-6">
                    <!--EXPLANATION FACILITY-->
                    <div class="card" id="explanation_facility" style="width: 90%; margin: auto">
                        <div class="card">
                            <div class="card-body">
                                <h4 id='funct_description' class="card-title">Select Search and Analytics Function</h4>
                                <h6 id='funct_overview' class="card-subtitle mb-2 text-muted" style="margin-top: 4px;margin-bottom: 4px"></h6>
                                <p id='description_text' class="card-text"></p>

                                <!--SELECTION-->
                                <div class="btn-group dropend" style="margin-bottom: 16px;">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Select Function
                                    </button>
                                    <ul class="dropdown-menu">
                                        <!-- Dropdown menu links -->
                                        <li><a class="dropdown-item" onclick="funct_select(0)">find_year_within_fossil_range</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" onclick="funct_select(1)">find_sea_level</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" onclick="funct_select(2)">find_year_within_co2_range</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" onclick="funct_select(3)">diff_fuel_within_temp_range</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" onclick="funct_select(4)">average_co2_ppm_by_month</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" onclick="funct_select(5)">co2_glacier_within_year_range</a></li>
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <!--RESULTS-->
                    <div id='query_area' style="margin-bottom: 16px;height: fit-content; width: 100%"></div>
                    <div id='results_area' style="display: none; height: fit-content; width: 100%">
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action list-group-item-info">Results from Map</a>
                            <a id='map_res_area' class="list-group-item"></a>
                            <a class="list-group-item list-group-item-action list-group-item-success">Final Result from Reduce</a>
                            <a id='reduce_res_area' class="list-group-item"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
