<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
    var imp = "Unset"

    function update_sel_buttons(selected) {
        if (selected === "firebase") {
            document.getElementById('fb_sel').textContent = "Selected"
            document.getElementById('fb_sel').classList.add('btn-warning')
            document.getElementById('fb_sel').classList.remove('btn-light')
            document.getElementById('mongo_sel').textContent = "Select"
            document.getElementById('mongo_sel').classList.remove('btn-warning')
            document.getElementById('mongo_sel').classList.add('btn-light')
            document.getElementById('sql_sel').textContent = "Select"
            document.getElementById('sql_sel').classList.remove('btn-warning')
            document.getElementById('sql_sel').classList.add('btn-light')
            imp = "firebase"
            res = "<a>************</br>* FIREBASE *</br>************</a></br>"
            document.getElementById('term_history').innerHTML += res
        } else if (selected === "mongo") {
            document.getElementById('mongo_sel').textContent = "Selected"
            document.getElementById('mongo_sel').classList.add('btn-warning')
            document.getElementById('mongo_sel').classList.remove('btn-light')
            document.getElementById('fb_sel').textContent = "Select"
            document.getElementById('fb_sel').classList.remove('btn-warning')
            document.getElementById('fb_sel').classList.add('btn-light')
            document.getElementById('sql_sel').textContent = "Select"
            document.getElementById('sql_sel').classList.remove('btn-warning')
            document.getElementById('sql_sel').classList.add('btn-light')
            imp = "mongo"
            res = "<a>***********</br>* MONGODB *</br>***********</a></br>"
            document.getElementById('term_history').innerHTML += res
        } else if (selected === "mysql") {
            document.getElementById('sql_sel').textContent = "Selected"
            document.getElementById('sql_sel').classList.add('btn-warning')
            document.getElementById('sql_sel').classList.remove('btn-light')
            document.getElementById('mongo_sel').textContent = "Select"
            document.getElementById('mongo_sel').classList.remove('btn-warning')
            document.getElementById('mongo_sel').classList.add('btn-light')
            document.getElementById('fb_sel').textContent = "Select"
            document.getElementById('fb_sel').classList.remove('btn-warning')
            document.getElementById('fb_sel').classList.add('btn-light')
            imp = "mysql"
            res = "<a>*********</br>* MYSQL *</br>*********</a></br>"
            document.getElementById('term_history').innerHTML += res
        }
    }

    function make_call(input) {
        var jsonCall = $.ajax({
            method: 'POST',
            url: '/command',
            dataType: "json",
            data: {'imp': imp, 'comm': input},
            async: false
        });
        return jsonCall.responseText
    }

    function run_comm() {
        input = document.getElementById('command_input').value
        if (!input) {
            return
        }
        document.getElementById('command_input').value = ''

        comm_html = "<a> >>> " + input + "</a></br>"
        document.getElementById('term_history').innerHTML += comm_html

        call = make_call(input)
        res = "<a>" + call + "</a></br>"
        document.getElementById('term_history').innerHTML += res
    }
</script>

<div class="container-fluid px-4">
    <div class="row" style="padding-top: 16px">
        <div class="col-xl-3 col-md-6">
            <h1 class="mt-1" styl>EDFS Explorer</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Select an implementation to begin</li>
            </ol>
        </div>
        <div class="col-xl-3 col-md-6" style="margin: auto 0">
            <div class="card bg-danger text-white mb-4" style="margin: 0">
                <div class="card-body">Firebase</div>
                <div class="card-footer d-flex align-items-center justify-content-between" >
                    <a id="fb_sel" class="btn btn-light" onclick="update_sel_buttons('firebase')">Select</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6" style="margin: auto 0">
            <div class="card bg-success text-white mb-4" style="margin: 0">
                <div class="card-body">MongoDB</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a id="mongo_sel" class="btn btn-light" onclick="update_sel_buttons('mongo')">Select</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6" style="margin: auto 0">
            <div class="card bg-primary text-white mb-4" style="margin: 0">
                <div class="card-body">MySQL</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a id="sql_sel" class="btn btn-light" onclick="update_sel_buttons('mysql')">Select</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Terminal   
        </div>
        <div id="term_history" class="card-body" style="font-family: 'Courier New', monospace;">
        </div>
    </div>
    <div class="input-group mb-3">
        <input id='command_input' type="text" class="form-control" placeholder="Enter Command" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <span class="input-group-text btn btn-light border-dark" id="basic-addon2" onclick="run_comm()">Run Command</span>
        </div>
    </div>
</div>
